
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>@ViewData["Title"] - Paroo</title>
        <link href="~/lib/neon/css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="~/lib/neon/css/sb-admin-2.min.css" rel="stylesheet" />
        <link href="~/lib/neon/js/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
         @RenderSection("Styles", required: false)
    </head>
    <body id="page-top">
         @RenderBody()
         <!-- Bootstrap core JavaScript-->
         <script src="~/lib/neon/js/jquery/jquery.min.js"></script>
         <script src="~/lib/neon/js/bootstrap/js/bootstrap.bundle.min.js"></script>
         <script src="~/lib/neon/js/jquery-easing/jquery.easing.min.js"></script>
         <script src="~/lib/neon/js/sb-admin-2.min.js"></script>
         <script src="~/lib/neon/js/datatables/jquery.dataTables.min.js"></script>
         <script src="~/lib/neon/js/datatables/dataTables.bootstrap4.min.js"></script>
         <script src="~/js/lib/vendor_app.js"></script>
         @RenderSection("Scripts", required: false)
    </body>
</html>
