@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout1";
}
@Html.AntiForgeryToken()


<div id="start">
    
</div>

@section Scripts{
    <script src="~/js/lib/neon.js" asp-append-version="true"></script>
}
