@using Paroo.Entities.UserAggregate
@{
    ViewData["Title"] = "Home Page";
}
@Html.AntiForgeryToken()
@{
    var profile = (Profile)ViewData["profile"];
}

<div id="start"></div>
<script>
    var currentUser = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(profile));
</script>
@section Scripts{
    <script src="~/js/lib/home.js" asp-append-version="true"></script>
}
